/*-----------------------------------------------------------------------------------

    Template Name: Your template name 
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*Header Area*/
.header-top {
    background-color: #0B0B0B;
    padding: 13px 0;
}

.header-top, header-top a {
    color: #f5f3f3;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 5px;
}

.social-link a {
    display: inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

.social-link i.fa {
    padding-right: 0px;
    color: #fff;
}

.social-link {
    display: inline-block;
    padding-left: 25px;

}

.social-link a:hover {background-color: #fc721e;border-color: #fc721e;}


.header-top i.fa.fa-phone {
    padding-left: 30px;
}

/*-------------Preloader css-------------*/
.section-padding.section-gray {
    background-color: #b0a7e5;
}

img {
    max-width: 50%;
    height: 300px;
}

.bodered-img {
    position: relative;
}

.bodered-img:before,.bodered-img:after {
    position: absolute;
    left: 0;
    top: 15%;
    height: 70%;
    width: 3px;
    content: "";
    background: #fc721e;
}

.bodered-img:after {
    left: auto;
    right: auto;
}

.about-text {
    padding: 30px 0;
}
/*Section table*/
.section-padding {
    margin-top: 40px;
}
.single-pricing-table {
    box-shadow: 0 0 9px  #ddd;
    padding: 30px;
    border-top: 3px solid green;
    text-align: center;
    transition: .3s;
}

.pricing-price {
    background-color: #27B191;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 30px auto;
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
}

a.pricing-price-text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 25px;
}

.pricing-price:after {
    position: absolute;
    left: -7%;
    top: -7%;
    width: 114%;
    height: 114%;
    content: "";
    border-radius: 50%;
    border: 3px solid #27B191;
}

.pricing-content {
    font-size: 16px;
    color: #ACACAC;
}

a.bordered-btn, .box-btn {
    display: inline-block;
    border: 2px solid #27B191;
    padding: 13px 30px;
    color: #27B191;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
}
a.bordered-btn{
    border-radius: 20px;
}
a.box-btn {
    background-color: #FF5E3E;
    color: #fff;
     border-color: #FF5E3E;
     border-radius: 20px;
}

.single-pricing-table:hover {
    transform: scale(1.1);
}
.single-pricing-table{
    border-color: #27B191;
}
.single-pricing-table.theme-2 {
    border-color: #FF5E3E;
}
.single-pricing-table.theme-3 {
    border-color: #B378F9;
}
.single-pricing-table.theme-4 {
    border-color: #CC773A;
}
.theme-2.single-price-item{
    border-top:3px solid #FF5E3E;
}
.theme-2 .pricing-price{
    background:#FF5E3E;
}
.theme-2 .pricing-price:after {
    border:2px solid #FF5E3E;
}
.theme-2 .pricing-border {
     border: 2px solid #FF5E3E;
     background:#FF5E3E;
     color:#fff;
}

.theme-3 a.bordered-btn{
    border-color:#B378F9;
    color:#B378F9;
}
.theme-3.single-price-item{
    border-top:3px solid #B378F9;
}
.theme-3 .pricing-price{
    background:#B378F9;
}
.theme-3 .pricing-price:after {
    border:2px solid #B378F9;
}
.theme-3 .pricing-border {
     border: 2px solid #B378F9; 
     color:#B378F9;
}

.theme-4 a.bordered-btn{
    border-color:#CC773A;
    color:#CC773A;
}
.theme-4.single-price-item{
    border-top:3px solid #CC773A;
}
.theme-4 .pricing-price{
    background:#CC773A;
}
.theme-4 .pricing-price:after {
    border:2px solid #CC773A;
}
.theme-4 .pricing-border {
     border: 2px solid #CC773A; 
     color:#CC773A;
}
